body {
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Header */

.navbar {
    overflow: hidden;
    background-color: #283f3f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-a {
    color: white;
    text-decoration: none;
}

/* Body */

section {
    margin-top: 18vh;
}

.container {
    text-align: center;
    margin-bottom: 2vh;
}

select {
    width: 200px;
    height: 38px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 14px;
    background-color: #283f3f;
    color: #ffffff;
    cursor: pointer;
  }

select:hover {
    background-color: #ffffff;
    color: #283f3f;
    transition: 0.4s;
}
  
option {
    padding: 5px;
    font-size: 16px;
    background-color: #283f3f;
    color: #ffffff;
}

option:hover {
    background-color: #ffffff;
    color: #283f3f;
    transition: 0.4s;
}

.btn_aleatoire {
    background-color: #283f3f;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 8px 10px 8px;
    margin: auto;
    cursor: pointer;
}

.btn_aleatoire:hover {
    background-color: #fff;
    border-radius: 2px solid gray;
    color: #283f3f;
    transition: 0.4s;
}

.btnAbs {
    background-color: #283f3f;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 8px 10px 8px;
    margin: auto;
    cursor: pointer;
}

.btnAbs:hover {
    background-color: #fff;
    border-radius: 2px solid gray;
    color: #283f3f;
    transition: 0.4s;
}

.btnNote {
    background-color: #283f3f;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 8px 10px 8px;
    margin: auto;
    cursor: pointer;
}

.btnNote:hover {
    background-color: #fff;
    border-radius: 2px solid gray;
    color: #283f3f;
    transition: 0.4s;
}

.data_note_input[type=text] {
    border: none;
    border-bottom: 2px solid #283f3f;
    background-color: rgb(240, 240, 240);
}

.tableau_liste_eleve {
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    text-align: left;
    font: small-caption;
    margin: auto;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.th {
    font: small-caps bold;
}

.tr_liste_eleve {
    border: 1px solid black;
    font: small-caps bold;
}

.td_liste_eleve {

}